body {
  display: grid;
  font-family: 'Roboto', sans-serif;
  grid-template-columns: 200px 1fr;
}

/*nav container*/
nav {
  background-color: #374050;
}

/*each div in nav*/
.nav {
  border-bottom: 3px solid rgb(45 53 67);
  color: rgb(163 172 189);
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 0;
}

.nav-title {
  color: rgb(103 116 132);
  font-size: 11px;
  font-weight: 700;
  margin-left: 10px;
  padding-right: 10px;
}

nav p {
  border-left: 3px solid #374050;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .5px;
  padding: 10px;
}

.nav-link:hover {
  background-color: rgb(49 57 72);
  border-left: 3px solid rgb(71 163 243);
  color: #FFF;
}

/*name nav div*/
.nav-photo {
  align-items: center;
  padding-top: 20px;
}

.profile-pic {
  border-radius: 50%;
  width: 100px;
}

.name {
  font-weight: 400;
  padding-top: 12px;
}

.name:hover {
  color: #FFF;
}

.fa-angle-down {
  padding-left: 0px;
}

#nav-categories {
  border-bottom: none;
}

/*font icons*/
nav i {
  font-size: 14px;
  margin-left: 10px;
  padding-right: 10px;
  width: 15px;
}

.yellow-square {
  color: rgb(249 213 73);
}

.blue-square {
  color: rgb(83 174 248);
}

.red-square {
  color: rgb(215 55 98);
}

.green-square {
  color: rgb(74 167 139);
}

/*container for right side of the page*/
main {
  background-color: #EEF2F6;
  display: grid;
  grid-template-areas:
  "header header"
  "article article"
  "section section"
  "main aside";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto auto;
  width: 100%;
}

header {
  background-color: #FFF;
  display: flex;
  grid-area: header;
}

/*every div in header*/
.header {
  align-items: center;
  border: 1px solid rgb(229 230 233);
  display: flex;
}

.header:hover {
  background-color: rgb(71 163 243);
}

.header-2 {
  width: 80%;  
}

.header-2:hover {
  background-color: #FFF;
}

.search-input {
  border: none;
  font-size: 14px;
  height: 90%;
  outline-width: 0;
  padding-left: 5px;
  width: 90%;
}

::placeholder {
  color: rgb(187 193 201);
  font-size: 14px;
}

/*header icons*/
header i {
  color: rgb(156, 163, 174);
  font-size: 25px;
  font-weight: 400;
  padding: 21px 30px 22px 30px;
}

header i:hover {
  color: #FFF;
}

.fa-caret-left {
  color: rgb(71 163 243);
  padding-right: 5px;
  padding-left: 22px;
}

.fa-bars {
  padding-left: 0px;
}

.fa-search {
  padding-right: 5px;
  font-size: 20px;
}

.fa-search:hover {
  color: rgb(156, 163, 174);
}

.header-1:hover .fa-caret-left, .header-1:hover .fa-bars {
  color: #FFF;
}

/*section right below the header*/
article {
  background-color: #FFF;
  grid-area: article;
}

.article-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

/*left side of article*/

h1 {
  color: rgb(78, 81, 93);
  font-size: 25px;
  padding-bottom: 13px;
}

.location-article-icon {
  padding-right: 5px;
}

.location {
  color: rgb(156, 163, 174);
  font-size: 14px;
  padding-right: 5px;
}

.dot {
  padding-left: 10px;
}

.preview {
  color: rgb(71 163 243);
  padding-left: 10px;
}

.preview:hover {
  filter: brightness(120%);
  font-weight: 700;
}

/*right side of article*/
.article-icons {
  align-items : center;
  display: flex;
  margin-left: 50px;
}


.fa-circle {
  color: rgb(147, 187, 81);
  font-size: 11px;
  padding: 2px;
}

.open {
  border: 2px solid rgb(187 193 201);;
  border-radius: 30px;
  color: rgb(78, 81, 93);
  font-size: 11px;
  font-weight: 700;
  letter-spacing: .5px;
  margin-right: 10px;
  outline-width: 0;
  padding: 10px 15px 10px 15px;
}

.hide-open {
  display: inline;
}

.article-button {
  border: 2px solid rgb(187 193 201);
  border-radius: 50%;
  color: rgb(156, 163, 174);
  font-size: 13px;
  height: 40px;
  margin: 7px;
  outline-width: 0;
  padding: 10px;
  text-align: center;
  width: 40px;

}


/*bottom navigation of article*/
.article-nav {
  color: rgb(156, 163, 174);
  display: flex;
  font-size: 13px;
  font-weight: 700;
  justify-content: space-between;
  letter-spacing: .5px;
  padding: 50px 15vw 0px 40px;
}

.article-nav p {
  border-bottom: 3px solid #FFF;
  padding-bottom: 26px;
}

.article-nav p:hover {
  border-bottom: 3px solid rgb(71 163 243);
  color: rgb(78, 81, 93);
}

.article-icon:hover {
  color: rgb(71 163 243);
}

.hide, .left-hide, .right-hide {
  display: none;
}

/*main charts and graphs section*/
section {
  background-color: rgb(237 242 245);
  grid-area: section;
  padding: 10px 10px 0 10px;
}

.charts {
  display: flex;
  justify-content: center;
  padding: 30px 0px 30px 0px;
  max-width: 100%;
}


/*circles chart container*/
.circles-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
 /* padding-left: 20px;*/
  margin-right: 5%;
}

/*circle pictures and animation*/
.circles {
  display: flex;
  justify-content: space-around;
  margin-top: 20px 
}

.circles-chart {
  height: 170px;
  padding-right: 20px;
  transform: rotate(-180deg);
}

/*circles speed/colors/width*/
.circle1 {
  animation: progress 2.0s ease-out forwards;
  fill: none;
  stroke: #65b8bf;
  stroke-linecap: round;
  stroke-width: 2.6;
  margin-right: 50px;
}

.circle1-grey {
  animation: progress 1.0s ease-out forwards;
  fill: none;
  stroke: #dae3ea;
  stroke-linecap: round;
  stroke-width: 2.6;
}

.circle2 {
  animation: progress 2.0s ease-out forwards;
  fill: none;
  stroke: #45a3f3;
  stroke-linecap: round;
  stroke-width: 2.6;
}

.circle2-grey {
  animation: progress 1.0s ease-out forwards;
  fill: none;
  stroke: #dae3ea;
  stroke-linecap: round;
  stroke-width: 2.6;
}

.circle3 {
  animation: progress 2.0s ease-out forwards;
  fill: none;
  stroke: #a56dab;
  stroke-linecap: round;
  stroke-width: 2.6;
}

.circle3-grey {
  animation: progress 1.0s ease-out forwards;
  fill: none;
  stroke: #dae3ea;
  stroke-linecap: round;
  stroke-width: 2.6;
}

/*text inside circles*/
.circle-text, .circle-title {
  transform: rotate(-180deg);
}

.circle-text {
  fill: #5b6677;
  font-size: .45rem;
  font-weight: 500;
}

.circle-title {
  fill: #8c95a3;
  font-size: .17rem;
  font-weight: 700;
  letter-spacing: .005rem;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.purple .circle {
  stroke: #AA6BA8;
}

.circular-chart.blue .circle {
  stroke: #15A0FA;
}

.circular-chart.green .circle {
  stroke: #48C0BE;
}


.totals-button {
  margin-top: 30px;
}

.circle-button, .graph-button {
  margin-top: 20px;
}

/*graph section*/
.graph-chart-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.graph-picture {
  max-width: 450px;
}

.totals-button, .applications-button {
  border: 2px solid rgb(187 193 201);;
  border-radius: 30px;
  color: rgb(78, 81, 93);
  font-size: 11px;
  font-weight: 700;
  letter-spacing: .5px;
  outline-width: 0;
  padding: 8px 13px 8px 13px;
}

.applications-button {
  margin-top: 10px;
}

.totals-button:hover, .applications-button:hover {
  color: rgb(71 163 243);
}

/* charts divide line */
.page-break {
  display: flex;
  margin-bottom: 25px;
  padding: ;
}

.left-break, .right-break {
  border-bottom: 2px solid rgb(229 230 233);
  width: 100%; 
  margin: 15px 5px 15px 5px;
}

.arrow-button {
  border-radius: 50px;
  outline-width: 0;
  padding: 0.5rem 0.7rem;
}

/*container for entire job posting*/
.job-posting {
  display: grid;
  font-family: 'Roboto', sans-serif;
  grid-template-areas:
  "title title"
  "properties properties";
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr;
  margin: 30px 0 50px 50px;
}

.description-title {
  align-items: center;
  background-color: #374050;
  display: flex;
  grid-area: title;
  padding: 30px;
}

.description-title h1 {
   color: rgb(228 232 237);
   font-size: 13px;
   font-weight: 700;
   letter-spacing: .5px;
   margin-right: 15px;
   padding-top: 12px;
}

.description-pen {
  border: none;
  color: rgb(228 232 237);
  height: 15px;
  margin: 0;
  padding: 5px 0 5px 0;
  width: 15px;
}

.description-button {
  background-color: rgb(126 139 165);
  border: none;
  border-radius: 2px;
  color: rgb(228 232 237);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .5px;
  padding: 5px 15px 5px 15px;
  text-align: center;
}

.description-button:hover {
  filter: brightness(120%);
}

/*container for the titles & description*/
.job-container {
  background-color: #FFF;
  grid-area: properties;
  padding: 30px 30px 10px 30px;
}

#job-div {
  display: flex;
  padding-bottom: 20px;
  padding-top: 0;
}

/*container div for each job property and value*/
.job-div {
  display: flex;
  padding-bottom: 20px;
  padding-right: 80px;
  padding-top: 20px;

}

/*left side of job posting*/
.title {
  color: rgb(78, 81, 93);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .5px;
  overflow-wrap: break-word;
  width: 200px;
  
}

.job-hr {
  border: 1px solid rgb(229 230 233);
  display: inline-block;
  width: 90%;
}

/*right side of job posting*/
.job-description {
  color: rgb(102 112 128);
  font-size: 15px;
  font-weight: 400;
  overflow-wrap: break-word;

}

.lead{
  border-radius: 50px;
  height: 30px;
  padding-right: 10px;
  width: 30px;
}

#hiring-lead {
  padding-top: 8px;
}

#desc-title {
  width: 500px;
  margin-right: 6px;
}

/*right side of job description grid*/
aside {
  align-items: center;
  background-color: rgb(237 242 245);
  display: flex;
  flex-direction: column;
  grid-area: aside;
  margin: 30px 0 10px 0;
  padding-left: 10px;

}

/*social media buttons*/
.aside-button {
  border: none;
  border-radius: 2px;
  color: #FFF;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 700;
  height: 50px;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-right: 75px;
  width: 100%;
}

.facebook {
  background-color: rgb(80 112 187);
}

.facebook:hover, .twitter:hover, .linkedin:hover {
  filter: brightness(120%);
}

.twitter {
  background-color: rgb(71 168 233);
}

.linkedin {
  background-color: rgb(54 129 184);
  margin-bottom: 40px;
}

.fa-facebook-f, .fa-twitter, .fa-linkedin {
 font-size: 17px;
 padding-left: 10px;
}

/*aside inputs*/
.link-to-job {
  border-bottom: 2px solid rgb(229 230 233);
  padding-bottom: 30px;
}

.link-to-this-job {
  color: rgb(78, 81, 93);
  font-size: 16px;
  font-weight: 800;
  padding-bottom: 15px;
}

.fa-globe-americas, .fa-save, .fa-paper-plane {
  padding-right: 8px;
}

.ipsum  {
  color: rgb(156, 163, 174);
  font-size: 13px;
  padding-bottom: 25px;
  width: 250px;

}

.aside-input {
  border: none;
  border-radius: 2px;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  padding-left: 10px;
  text-overflow: ellipsis;
  width: 185px;
}

.aside-input-button {
  background-color: rgb(103 184 191);
  border: none;
  border-radius: 2px;
  color: #FFF;
  height: 40px;
  padding: 5px;
  width: 50px;
}

.aside-input-button:hover {
  filter: brightness(120%);
}

.resume-input::placeholder, .aside-input::placeholder {
  color: rgb(78, 81, 93);
  font-size: 13px;
  padding-left: 2px;
  text-overflow: ellipsis;
}

.button-widget, .upload-resume {
  margin-top: 30px;
}

.upload-resume {
  border-bottom: none;
}

.resume-input {
  font-size: 14px;
  padding-left: 10px;
  width: 230px;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 1280px) {

  nav {
    display: none;
  }

  body {
  background-color: #EEF2F6;
  display: block;
  }

  .charts-div-line {
    margin-bottom: 30px;
  }

  #desc-title {
    margin-right: 70px;
  }

}

@media screen and (max-width: 1055px) {

  .charts {
    flex-direction: column;
  }

  .circles-containter {
    margin-bottom: 50px;
  }

  .graph-chart-container {
    margin-right: 5%;
    margin-top: 50px;
    padding-right: 0;
  }

  .article-nav p {
    border-bottom: 3px solid #FFF;
    padding-bottom: 26px;
  }

  #desc-title {
    margin-right: 90px;
  }

}


@media screen and (max-width: 822px) {

  .hide {
    color: rgb(156, 163, 174);
    display: inline;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .5px;
  }

  .hide-div {
    margin-bottom: 20px;
    padding: 30px 0 5px 40px;
  }

  .left-hide, .right-hide {
    border: none;
    color: rgb(78, 81, 93);
    display: inline;
    font-size: 16px;
    font-weight: 700;
    outline-width: 0;
  }

  .left-hide:hover, .right-hide:hover {
    color: rgb(71 163 243);
  }

  .article-nav {
    display: none;
  }

  main {
    background-color: #EEF2F6;
    display: grid;
    grid-template-areas:
    "header header"
    "article article"
    "section section"
    "main main"
    "aside aside";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    width: 100%;
  }
  
  .job-posting {
    margin: 0 auto;
    width: 80%;
  }

  .social-buttons {
    width: 100%;
    margin-left: 20px;
  }

  .aside-button {
    display: inline;
    padding-right: 0;
    width: 30%;
  }

  .hide-this {
    display: none;
  }

  .social-container {
    width: 85%;
  }

  .fa-facebook-f, .fa-twitter, .fa-linkedin {
    font-size: 30px;
    text-align: center;
    padding-right: 0;
  }

  .link-to-job {
    text-align: center;    
  }

  .ipsum {
    margin: 0 auto;
  }

  .hide-open {
    display: none;
  }
  
  .fa-circle {
    height: 10px
    padding: 0px;
    width: 10px;
  }

  .open {
    border-radius: 50%;
    padding: 11px;
  }

  #desc-title {
    margin-right: 70px;
  }

}


@media screen and (max-width: 822px) {

  .circles-chart {
    height: 130px;

  }

  .graph-picture {
    max-width: 350px;
  }

  #desc-title {
    margin-right: 90px;
  }

}

@media screen and (max-width: 612px) {

::placeholder {

}

@media screen and (max-width: 612px) {

  .article-container {
    flex-direction: column;
    text-align: center;
  }

  .article-icons {
    margin: 0 auto;
    margin-top: 20px;
  }

  .hide-div {
    text-align: center;
    padding: 0;
  }

  p.location {
    margin-top: 10px;
  }

  p.title {
    width: 150px;
  }

  #desc-title {
    margin-right: 60px;
  }

  .social-buttons {
    margin-left: 10px;
  }

}

@media screen and (max-width: 500px) {

  .circles-chart {
    height: 100px;

  }

  .graph-picture {
    max-width: 300px;
  }

  p.title {
    width: 100px;

  }

  #desc-title {
    margin-right: 10px;

  }

  .job-div {
    padding-right: 0;

  }

  .social-buttons {
    margin-left: 10px;
  }

  .move-right-1 {
    margin-right: 10px;
  }

   .aside-input {
    width: 120px;
  }

}


@media screen and (max-width: 450px) {

  .circles-chart {
    height: 90px;

  }

  .graph-picture {
    max-width: 250px;
  }

   .social-buttons {
    margin-left: 0;
  }

  .aside-input {
    width: 120px;
  }

  .aside-input-button {
    width: 38px;
  }

  .link-to-job {
    margin: 0 0 20px 0;
  }

  .move-right-1 {
    margin-right: 30px;
  }
  
  .move-right-2 {
    margin-right: 10px;

  }

}

/*@media screen and (max-width: 400px) {
  
  .aside-input {
    width: 130px;
  }

}*/



